@import url(/style.css);
@import url(/base.css);

.profile_content {
  /*position: relative;*/
  /*display: grid;
  grid-auto-rows: auto;
  gap: 40px;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  border: 2px solid white;
  border-radius: 10px;
  margin: 30px;
  padding: 2rem;
  background-color: aliceblue;
}

.profile_figure {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.profile_about {
  text-align: justify;
}

.btn_logout {
  border: none;
  height: 40px;
  width: 200px;
  padding: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
  background-color: rgb(51, 141, 137);
  cursor: pointer;
  color: blanchedalmond;
  cursor: pointer;
}

.btn_logout:hover {
  background-color: rgb(42, 167, 160);
}
