<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/base.css" />
    <link rel="stylesheet" href="/layout/cards/style.css" />
  </head>
  <body>
    <section class="cards">
      <div class="bookmark-icon">
        <img
          src="https://img.icons8.com/external-kmg-design-flat-kmg-design/32/000000/external-bookmark-user-interface-kmg-design-flat-kmg-design.png"
          alt="Bookmark icon"
        />
      </div>
      <h3>Question</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing ?</p>
      <button class="answer">Show Answer</button>
      <ul class="tags">
        <li class="tag1">tag</li>
        <li class="tag2">tag</li>
        <li class="tag3">tag</li>
        <li class="tag4">tag</li>
      </ul>
    </section>
  </body>
</html>
